/* 300 Movie Review Style Sheet */
body {
    background: linear-gradient(darkred, black);
    font-family: Georgia;
}
article {
    border: 3px solid black;
    background-color: white;
    margin: 50px;
    padding: 20px;
}
h {
    font-family: "Trebuchet MS";
}
h1 span {
    color: red;
}
h3 {
    color: grey;
    font-size: x-small;
}
p {
    font-size: small;
    text-align: justify;
    line-height: 1.5;
}
article > p:first-of-type:first-letter {
    font-size: 4rem;
    background-image: url("tree-of-death.jpg");
    background-color: #000;
    color: #fff;
    padding: 1.5rem;
    float: left;
    margin-right: .6rem;
    margin-top: .6rem;
    border: 2px solid #790000;
    background-size: cover;
}
article > p:first-of-type:first-line {
    font-variant: all-small-caps;
}
#comp {
    float: right;
    margin-left: 15px;
    width: 60%;
}
#cliff {
    width: 100%;
    border: 2px solid darkred;
}
#xerxes {
    float: left;
    margin-right: 15px;
    width: 60%;
}
#footnote {
    font-size: x-small;
}



